<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a th:href="@{/hotel/{idHotel}(idHotel=${idHotel})}">Back</a>
<form th:action="@{/facility/add}" method="post">
    Bed: <input type="text" name="bed"/><br/><br/>
    Class: <input type="text" name="_class"/><br/><br/>
    Class: <input type="text" name="roomsCount"/><br/><br/>
    Class: <input type="text" name="cleaning"/><br/><br/>
    Class: <input type="number" name="dailyPrice"/><br/><br/>
    <input type="hidden" name="idHotel" th:value="${idHotel}">
    <input type="submit" value="Add"/>
</form>

</body>
</html>