<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/hotels}">Back</a>
<div>
    <form th:action="@{/admin/hotel/update}" method="post">
        <input type="hidden" name="id" th:value="${hotel.id}"/>
        <label>
            <h6>Name</h6>
            <input type="text" name="hotelName" th:value = "${hotel.hotelName}"/>
        </label>
        <label>
            <h6>Rank</h6>
            <input type="text" name="rank" th:value = "${hotel.rank}"/>
        </label>
        <label>
            <h6>City</h6>
            <input type="text" name="city" th:value = "${hotel.city}"/>
        </label>
        <label>
            <h6>Location</h6>
            <input type="text" name="location" th:value = "${hotel.location}"/>
        </label>
        <button type="submit" value="Update">Update</button>
    </form>
</div>

<div th:each="img : ${images}">
    <img th:src="@{/imageHotel/{imgId}(imgId=${img.id})}" height="60px"/><br/><br/>
    <form th:action="@{/image/delete/{id}(id=${img.id})}" method="post">
        <input type="hidden" name="idParent" th:value="${hotel.id}">
        <input type="hidden" name="table" th:value="hotel_image"/>
        <input type="submit" value="Delete"/>
    </form>
</div>

<h3>Image</h3>
<form th:action="@{/image/add}" method="post" enctype="multipart/form-data">
    <input type="file" name="file"/><br/><br/>
    <input type="hidden" name="idParent" th:value="${hotel.id}">
    <input type="hidden" name="table" th:value="hotel_image"/>
    <input type="submit" value="Add"/>
</form>

<h3>Establish</h3>
<div th:each = "establishItem : ${establishList}">
    <div>
        <p><b th:text="${establishItem.idEstablishment}"></b> <span th:text="${establishItem.name}"></span> | <a th:href="@{/admin/hotel/establishment/{establishId}(establishId=${establishItem.idEstablishment})}">Link...</a></p>
    </div>
</div>
<a th:href="@{/admin/hotel/establishment/add/{hotelId}(hotelId=${hotel.id})}">Add Establish</a><p>

<h3>Facility</h3>
<div th:each = "facility : ${facilities}">
    <div>
        <p><b th:text="${facility.idHotel}"></b> <span th:text="${facility.facilityName}"></span> | <a th:href="@{/admin/hotel/facility/{facilityId}(facilityId=${facility.idFacility})}">Link...</a></p>
    </div>
</div>
<a th:href="@{/admin/hotel/facility/add/{hotelId}(hotelId=${hotel.id})}">Add Facility</a><p>

<h3>Rooms</h3>
<div th:each = "room : ${rooms}">
    <div>
        <p><b th:text="${room.idRoom}"></b> <span th:text="${room.getBed()}"></span> | <a th:href="@{/admin/hotel/room/{roomId}(roomId=${room.idRoom})}">Link...</a></p>
    </div>
</div>
<a th:href="@{/admin/hotel/room/add/{hotelId}(hotelId=${hotel.id})}">Add Room</a><p>

<b>Hotel foodtypes</b>
<div th:each = "htf : ${hotelfoodtypes}">
    <div>
        <p th:text="${htf.id}"></p>
        <p th:text="${htf.name}"></p>
        <p th:text="${htf.price}"></p>
    </div>
</div>

<b>All FoodTypes</b>
<div th:each = "ft : ${foodtypes}">
    <div>
        <p th:text="${ft.id}"></p>
        <p th:text="${ft.name}"></p>
    </div>
</div>

<form method="post" th:action="@{/admin/hotel/foodtype/add}">
    <input type="hidden" name="idHotel" th:value="${hotel.id}"/>
    <input type="number" name="price"/>
    <label>
        <select name="idFoodType">
            <option th:each="item : ${foodtypes}"  th:value="${item.id}"  th:text="${item.name}"></option>
        </select>
    </label>
    <button type="submit" value="Update">Add</button>
</form>
</body>
</html>