<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

<div th:each = "route : ${routes}">
    <div th:each="img : ${images}">
        <div th:if="${img.idParent.equals(route.route.idRoute)}">
            <img th:src="@{/imageRoute/{imgId}(imgId=${img.idImage})}" height="60px"/><br/><br/>
        </div>
    </div>
    <div>
        <p><b th:text="${route.route.rName}"></b> <span th:text="${route.route.getIdRoute()}"></span> | <a th:href="@{/route/{routeId}(routeId=${route.route.idRoute})}">Link...</a></p>
    </div>
</div>


<label><input type="checkbox" name="country" value="ukraine" > ukraine</label><br>
<label><input type="checkbox" name="country" value="england" > england</label><br>
<label><input type="checkbox" name="rank" value="1" > 1 star</label><br>
<label><input type="checkbox" name="rank" value="2" > 2 stars</label><br>
<label><input type="checkbox" name="rank" value="3" > 3 stars</label><br>
<label><input type="checkbox" name="rank" value="4" > 4 stars</label><br>
<label><input type="checkbox" name="rank" value="5" > 5 stars</label><br>
<label><input type="checkbox" name="typeRoute" value="single" > single</label><br>
<label><input type="checkbox" name="typeRoute" value="multi" > multi</label><br>
</body>

<script>
    $(document).ready(function() {
        var currentUrl = window.location.pathname;
        var urlValues = currentUrl.split('/').pop().split(',');
        $('input[type="checkbox"]').change(function() {
            var checkboxes = {};
            $('input[type="checkbox"]').each(function() {
                var checkboxName = $(this).attr('name');
                var checkboxValue = $(this).val();

                if ($(this).is(':checked')) {
                    if (!checkboxes[checkboxName]) {
                        checkboxes[checkboxName] = [];
                    }
                    checkboxes[checkboxName].push(checkboxValue);
                }
            });
            var redirectUrl = '/';
            for (var name in checkboxes) {
                var values = checkboxes[name].join(',');  ////','
                if (values) {
                    redirectUrl += (redirectUrl === '/' ? '' : ',') + values;
                }
            }
            window.location.href = redirectUrl;
        });

        $('input[type="checkbox"]').each(function() {
            var checkboxName = $(this).attr('name');
            var checkboxValue = $(this).val();
            if (urlValues.includes(checkboxValue) && checkboxName) {
                $(this).prop('checked', true);
            }
        });
    });
</script>
</html>