<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>route</title>
</head>
<body>
<form th:action="@{/admin/route/update}" method="post">
    <input type="hidden" name="idRoute" th:value="${route.idRoute}"/>
    <label>
        <h6>Name</h6>
        <input type="text" name="rName" th:value = "${route.rName}"/>
    </label>
    <label>
        <h6>description</h6>
        <input type="text" name="description" th:value = "${route.description}"/>
    </label>
    <label>
        <h6>City</h6>
        <input type="number" name="peopleCount" th:value = "${route.peopleCount}"/>
    </label>
    <label>
        <h6>Location</h6>
        <input type="date" name="startData" th:value = "${route.startData}"/>
    </label>
    <label>
        <h6>Location</h6>
        <input type="date" name="endData" th:value = "${route.endData}"/>
    </label>
    <label>
        <h6>minimal</h6>
        <input type="number" name="minPrice" th:value = "${route.minPrice}"/>
    </label>
    <label>
        <h6>maximum</h6>
        <input type="number" name="maxPrice" th:value = "${route.maxPrice}"/>
    </label>
    <label>
        <h6>transportPrice</h6>
        <input type="number" name="transportPrice" th:value = "${route.transportPrice}"/>
    </label>
    <button type="submit" value="Update">Update</button>
</form>

<div th:each="img : ${images}">
    <img th:src="@{/imageRoute/{imgId}(imgId=${img.id})}" height="60px"/><br/><br/>
    <form th:action="@{/image/delete/{id}(id=${img.id})}" method="post">
        <input type="hidden" name="idParent" th:value="${route.idRoute}">
        <input type="hidden" name="table" th:value="route_image"/>
        <input type="submit" value="Delete"/>
    </form>
</div>

<h3>Image</h3>
<form th:action="@{/image/add}" method="post" enctype="multipart/form-data">
    <input type="file" name="file"/><br/><br/>
    <input type="hidden" name="idParent" th:value="${route.idRoute}">
    <input type="hidden" name="table" th:value="route_image"/>
    <input type="submit" value="Add"/>
</form>

<b>Reservations</b>
<div th:each = "reservation : ${reservations}">
    <div>
        <p th:text="${reservation.id}"></p>
        <p th:text="${reservation.idHotel}"></p>
        <p th:text="${reservation.minPrice}"></p>
        <p th:text="${reservation.maxPrice}"></p>
    </div>
    <form method="post" action="/admin/reservation/delete">
        <input type="hidden" name="idReservation" th:value="${reservation.id}">
        <input type="hidden" name="idRoute" th:value="${route.idRoute}">
        <input type="submit" value="del">
    </form>
</div>

<p><a th:href="@{/admin/reservation/add/{idRoute}(idRoute=${route.idRoute})}">AddReservation</a></p>
</body>
</html>